/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*CSS RESET END8*/
/****************************************************/
/****************************************************/
/*GLOBALS*/
a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px; }

h1, h2 {
  text-transform: uppercase; }

/*GLOBALS - colors*/
/*GLOBALS - css rules*/
.left {
  float: left; }

.right {
  float: right; }

/*hide anchor text, display logo*/
.logo {
  background: url("img/logo.png") no-repeat;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  width: 200px;
  height: 17px;
  /*enable logo anchor*/ }
  .logo a {
    display: block;
    height: 100%; }

/*end .logo*/
/*margin-leftonly affects the first li child*/
.media-nav li {
  padding-left: 15px; }

.main-nav li {
  text-transform: uppercase;
  padding: 0 12px;
  font-size: 15px; }

.page-Active {
  border-bottom: 3px solid red; }

.btn {
  text-transform: uppercase;
  border: 2px solid #fd6e0e;
  color: #fd6e0e;
  border-radius: 20px;
  padding: 10px 10px; }
  .btn:hover {
    border: 2px solid #333333;
    color: #e2e7e1;
    background: #333333; }

/*end - .btn*/
.buy-now-btn {
  background-color: #333333;
  text-transform: uppercase;
  color: #e2e7e1;
  border-radius: 20px;
  padding: 10px 10px; }
  .buy-now-btn:hover {
    color: #e2e7e1;
    background: #d2d2d2; }

/*end - .buy-now-btn*/
.mrg-left {
  margin-left: 30px; }
  .mrg-left:first-of-type {
    margin-left: 0; }

/*hero section right under the header*/
/*used on every page except index since the index
  hero takes up the full viewport height*/
.hero-box {
  padding-top: 15px; }
  .hero-box .hero {
    height: 286px; }
    .hero-box .hero .right {
      width: 50%; }

/*end - .hero-box*/
/*GLOBAL - headings/p color+margin-bottom*/
h1, h2, h3, p {
  color: #333333;
  margin-bottom: 30px; }

.margin-bot {
  margin-bottom: 150px; }

/*GLOBALS - END*/
/****************************************************/
/****************************************************/
/*HEADER - GLOBAL*/
header {
  /*end - .pstn-abs*/ }
  header .logo, header nav {
    margin-top: 50px; }
  header nav a {
    color: #999999;
    font-size: 20px; }
  header .main-nav li {
    padding-bottom: 10px; }
    header .main-nav li:hover {
      border-bottom: 3px solid black; }
  header .overlap {
    position: relative; }
  header .pstn-abs {
    position: absolute;
    text-align: center;
    right: 3vh;
    top: -76vh; }
    header .pstn-abs h1 {
      margin-bottom: 19vh;
      font-weight: bold; }
    header .pstn-abs p {
      margin-bottom: 50px;
      font-size: 20px;
      width: 523px; }

/*end header - GLOBAL*/
/*HEADER - INDEX PAGE*/
#index header .hero-index {
  background: url("img/bb1.jpg") no-repeat;
  background-color: #e2e7e1;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  min-height: 100vh; }

/*end #index header .hero*/
/*MAIN - INDEX PAGE*/
#index main {
  /*end - .products*/
  /*end - .why-me*/ }
  #index main .products {
    display: inline-block;
    text-align: center;
    margin-right: 8%;
    margin-left: 8%;
    width: 33%; }
    #index main .products img {
      margin-bottom: 30px; }
  #index main .container-fluid {
    padding: 0; }
  #index main .why-me-left {
    background-color: #e2e7e1;
    padding: 90px 90px 70px 90px;
    position: relative;
    width: 55%;
    /*end - &:after*/ }
    #index main .why-me-left h1 {
      margin-bottom: 40px; }
    #index main .why-me-left p {
      margin-bottom: 55px; }
    #index main .why-me-left::after {
      left: 100%;
      top: 8%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #e2e7e1;
      border-left-color: #e2e7e1;
      border-top-width: 149px;
      /*moves the bottom side down*/
      border-left-width: 149px;
      /*moves the whole top right angle to the right*/
      border-bottom-width: 260px;
      /*changes the bottom triangle*/
      border-right-width: 88px;
      /*moves the top triangle angle to the right*/
      margin-top: -32px; }
  #index main .why-me-right {
    background: url("img/woman.jpg") no-repeat;
    background-position: right;
    background-color: #16191e;
    background-size: contain;
    height: 408px;
    width: 45%; }
  #index main .google-map {
    height: 600px;
    width: 100%;
    border: 0; }

/*end MAIN - INDEX PAGE*/
/*MAIN - ABOUT PAGE*/
#about main {
  /*end - .hero*/
  /*end - .about-article*/
  /*end - .exp*/ }
  #about main section {
    overflow: hidden; }
  #about main p {
    line-height: 120%; }
  #about main .hero-box {
    background-color: #e2e7e1; }
  #about main .hero {
    background: url("img/bb1.jpg") no-repeat; }
    #about main .hero h2 {
      padding-top: 48px; }
  #about main .about-article {
    position: relative; }
  #about main .about-article::before {
    background: url("img/bb2.jpg") no-repeat;
    background-size: contain;
    position: absolute;
    width: 490px;
    height: 508px;
    top: -80px;
    left: -490px; }
  #about main article p {
    display: inline-block;
    width: 49%; }
  #about main .exp {
    min-height: 250px;
    width: 33.1vw; }
    #about main .exp div {
      padding: 30px 20px 60px 35px; }
    #about main .exp h3, #about main .exp p, #about main .exp li {
      color: white; }
    #about main .exp p {
      width: 100%; }
  #about main ul {
    list-style-type: circle; }
  #about main .first {
    background-color: #ff4b3e; }
  #about main .second {
    background-color: #ffb20f; }
  #about main .third {
    background-color: #f75c03; }

/*end - #about main*/
#services main {
  /*end - .hero*/
  /*end - .sessions, .meal-plan*/ }
  #services main .hero-box {
    background-color: #e2e7e1; }
  #services main .hero {
    background: url("img/bb1.jpg") no-repeat; }
    #services main .hero h1 {
      padding-top: 48px; }
    #services main .hero p {
      line-height: 120%; }
  #services main h2, #services main span {
    text-align: center; }
  #services main .session-box {
    text-align: center; }
  #services main .meal-box {
    text-align: center; }
  #services main .sessions, #services main .meal-plan {
    background-color: green;
    display: inline-block;
    margin-left: 50px;
    width: 20%;
    /*end - span*/ }
    #services main .sessions:first-of-type, #services main .meal-plan:first-of-type {
      margin-left: 0; }
    #services main .sessions img, #services main .meal-plan img {
      padding: 35px 0; }
    #services main .sessions span, #services main .meal-plan span {
      margin-bottom: 40px;
      font-size: 33px;
      display: block; }
    #services main .sessions ul, #services main .meal-plan ul {
      margin-bottom: 45px; }

/*end - #services main*/
#testimonials main {
  /*end - .hero*/
  /*end - article*/ }
  #testimonials main .hero-box {
    background-color: #f6eaea; }
  #testimonials main .hero {
    background: url("img/bb1.jpg") no-repeat; }
    #testimonials main .hero h1 {
      padding-top: 48px; }
    #testimonials main .hero p {
      line-height: 120%; }
  #testimonials main article {
    overflow: hidden;
    /*end - div*/ }
    #testimonials main article div {
      /*inline-bloack sets the div on the bottom side of the
			  article and cannot be moved up (at mid level)*/
      /*display: inline-block;*/
      padding-top: 100px;
      margin-left: 5%;
      width: 60%; }

/*end - #testimonials main*/
#contact main form {
  margin: 0 auto;
  width: 400px;
  border-radius: 10px;
  background: #d2d2d2;
  border: 3px solid black;
  padding: 30px; }

#contact main form div {
  margin-bottom: 15px; }

#contact main label {
  display: inline-block;
  width: 90px;
  text-align: center; }

#contact main input, #contact main textarea {
  width: 260px;
  border: 1px solid black; }

#contact main input:focus, #contact main textarea:focus {
  border: 1px solid green; }

#contact main .button button {
  background: grey;
  color: #fff;
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  cursor: pointer;
  border: none; }

#contact main .button button:hover {
  background: red; }

/*end - #contact main*/
/*FOOTER - GLOBAL*/
footer {
  background: #333333;
  color: #e2e7e1; }
  footer h1, footer nav {
    display: inline-block; }
  footer nav ul {
    overflow: hidden; }
  footer a {
    color: #e2e7e1; }
  footer input {
    border-radius: 20px;
    color: #333333;
    padding: 5px 10px;
    text-indent: 3px;
    border: 0;
    margin: 0 5px;
    height: 31px; }
  footer .container {
    text-align: center;
    padding: 30px 0;
    font-size: 20px; }
  footer .box {
    margin-bottom: 30px; }
  footer .fa-envelope {
    font-size: 30px; }

/*end - footer*/
